<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.hibeauty">

    <!-- Permissão obrigatória para Google Sign-In -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permissão necessária para Android 13+ se o app ou SDKs usarem ID de publicidade -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <!-- Permissão para ler contatos e cadastrar como clientes -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:label="hibeauty"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- META SDK FACEBOOK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"/>

        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true"/>

        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema inicial do Flutter -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- UCrop Activity para image_cropper plugin -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Flutter embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Android 11+ package visibility -->
    <queries>

        <!-- Necessário para Google Sign-In -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>

        <!-- Usado pelo Flutter (não remover) -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

    </queries>

</manifest>